## Introduction - Getting started with Python

In [1]:
#Addition
2+3

5

In [2]:
#subtraction
9-1

8

In [4]:
#Multiplication
2*3

6

In [6]:
#Division
5/2

2.5

In [7]:
#Integer Division or Floor Division - This is used when we need only Quotient part of division
5//2

2

In [8]:
#combination of Arthematic operators
8+9-10

7

In [9]:
8+2*3

14

In [10]:
(8+2)*3

30

In [11]:
#Exponent (instead of 2*2*2 we can do exponent (2 ** 3))
2 ** 3

8

In [12]:
#Modulus (Remainder)
10%3

1

#### Strings - Can be represented in single or double cots

In [13]:
#String
'Ketha'

'Ketha'

In [14]:
#Print - Print is a build-in function. Fuction means set of tasks that can be excecuted. We can execute fucnction simply by calling them. We can define our own functions also. 
print('Ketha')

Ketha

In [16]:
print('Ketha's Book')

SyntaxError: invalid syntax (<ipython-input-16-d364398d4c18>, line 1)

In the above we got error because we do have multiple single cots. Here the string starts from K and ends at a. So, we can solve this problem in 2 ways as below

In [19]:
#1. Use double cots
print("Ketha's Book")

Ketha's Book

In [25]:
#2. We need to tell Python to skip the special meaning of that single cote. We can do that by giving a back slash before s.
print('Ketha\'s Book')

Ketha's Book

#### Print string multiple times

In [28]:
# There are 2 ways
# 1. using concatenation
'ketha' + 'ketha' + 'ketha' + 'ketha' + 'ketha'

'kethakethakethakethaketha'

In [29]:
# 2. multiply string with int
10 * 'ketha'

'kethakethakethakethakethakethakethakethakethaketha'

#### \n Issues

In [30]:
print('C:/Documents\narendra\reddy')

C:/Documents
eddy

In the above code we expected the o/p would be : C:/Documents\narendra\reddy but we got different o/p. This is bcz in Python for \n we have different meaning. \n - means new line. If we want to print as it is then we need to cancel that special meaning. If we want to print the string as it is then it is called Raw String.

In [31]:
print(r'C:/Documents\narendra\reddy')

C:/Documents\narendra\reddy

In [33]:
print(2 + 3)   # addition(+)
print(3 - 1)   # subtraction(-)
print(2 * 3)   # multiplication(*)
print(3 / 2)   # division(/)
print(3 ** 2)  # exponential(**)
print(3 % 2)   # modulus(%)
print(3 // 2)  # Floor division operator(//)

# Checking data types

print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('Ketha'))          # String
print(type([1, 2, 3]))           # List
print(type({'name':'Ketha'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple

5
2
6
1.5
9
1
1
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>